<div class="header-component">
  <div class="header__contents">
    <div class="logo header__contents-logo">
      <img
        src="https://cdn4.iconfinder.com/data/icons/logos-brands-7/512/google_logo-google_icongoogle-512.png"
        alt="main-logo"
        srcset=""
      />
    </div>

    <div class="header__contents-desc">
      <div class="logo header__contents-notify">
        <img
          src="https://cdn-icons-png.flaticon.com/512/1182/1182718.png"
          alt="notify"
          srcset=""
        />
      </div>
      <div class="logo header__contents-lang">
        <img
          src="https://i.pinimg.com/originals/86/c3/05/86c30529904c3a992eb7241299e5f3e5.png"
          alt="lang"
          srcset=""
        />
      </div>
      <div class="logo header__contents-profile">
        <img
          src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
          alt="profile"
          srcset=""
        />
      </div>
    </div>
  </div>
</div>
