<div class="container">
  <div>
    <table class="contact-table">
      <thead>
        <tr>
          <th class="fixed-width">Name</th>
          <th class="fixed-width">Phone Number</th>
          <th class="fixed-width">Email</th>
          <th class="fixed-width">Address</th>
          <th class="fixed-width">Longitude</th>
          <th class="fixed-width">Latitude</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts">
          <td>{{ contact.name }}</td>
          <td>{{ contact.phoneNumber }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.randomAddress }}</td>
          <td>{{ contact.longitude }}</td>
          <td>{{ contact.latitude }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h1>Locations on Map</h1>
  <div id="map" class="map-container"></div>
</div>
