.container {
    margin: 0 auto;
    padding: 20px;
  }
  
  .contact-table {
    width: 100%;
    border-collapse: collapse;
}

.contact-table th {
    background-color: #e0e7ff;
    color: #001c79;
    padding: 17px;
    text-align: left;
    font-weight: bold;
    text-align: center;
    // border: 1px solid #ddd;
}

.contact-table td {
    padding: 10px;
    text-align: center;
    // border: 1px solid #ddd;
}

.fixed-width {
    width: 150px;
}
  
  .map-container {
    height: 600px; /* Adjust height as needed */
    margin-top: 20px;
    // pointer-events: none;
  }
  