@import "mixins";

.list-data-component{
    width: 100%;
    @include flex-container(center, center, column);

    .search-block{
        @include flex-container(start, start, column);
        width: 80%;
        margin: 2rem 0;
        .search-text{
            @include font(20, 3.5vw, 22, bold, #000000);
            margin-bottom: 1rem;
        }
        .input-type{
            width: 100%;
            padding: 0.7rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
            transition: border-color 0.3s, box-shadow 0.3s;
        }
    }

    .content-container{
        width: 80%;
        @include flex-container(start, center);
        .list-component{
            width: 100%;
            @include flex-container(center, center, column);
            margin: 1.5rem 0;
        
            .list-component__total{
                width: 100%;
                @include flex-container(center, space-between);
        
                .total-result{
                    @include font(20, 3.5vw, 22, bold, rgb(223, 57, 57))
                }
        
                .sort-block{
                    @include flex-container(center, center);
                    background-color: rgb(223, 57, 57);
                    @include font(14, 3.5vw, 15, bold, #fff);
                    height: 3.5rem;
                    width: 7rem;
                    border-radius: 0.5rem;
                    cursor: pointer;
                }
            }
        
            .list-container{
                display: grid;
                width: 100%;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                gap: 20px;
                padding: 20px;
        
                .list-container__card{
                    @include flex-container(center, center, column)
                }
            }
        }
    }
}

