<div class="list-data-component">
  <div class="search-block">
    <div class="search-text">Search</div>
    <input
      class="input-type"
      type="text"
      [(ngModel)]="searchText"
      (keyup)="searchItem()"
      name="search"
      placeholder="Search Here"
    />
  </div>

  <div class="content-container">
    <div class="check-category">
        <div class="category-text">Categories</div>
        <div class="list-filters">
            <div class="filter-item">
                <div class="filter-text">e-voucher</div>
                <div class="filter-check">
                    <img src="" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>

    <div class="list-component">
        <div class="list-component__total">
          <div class="total-result">{{ listOfData?.length }} results Found</div>
          <div class="sort-block" (click)="sort()">Sort</div>
        </div>
        <div class="list-container">
          <div class="list-container__card" *ngFor="let list of listOfData">
            <div class="card-header">
                <img [src]="list?.display_img_url || 'https://cdn4.iconfinder.com/data/icons/logos-brands-7/512/google_logo-google_icongoogle-512.png'" alt="{{ list?.id }}" />
                <span *ngIf="getStatus(list)['showLable']" class="label">{{ getStatus(list)['desc'] }}</span>
              </div>
              <div class="card-body">
                <h3 class="card-name">{{ list?.name }}</h3>
                <p class="card-points">{{ list?.points }}</p>
                <p class="card-date">{{ list?.valid_until | date:'longDate' }}</p>
              </div>
          </div>
        </div>
      </div>
  </div>


</div>

<div class="sort-by" *ngIf="showSortBy">
  <app-sortby
    (sendSortVal)="sortVal($event)"
    (close)="closeSortBy()"
  ></app-sortby>
</div>
