<div class="splash-component">

    <div class="top-container">
      <div class="logo" >
        <img
        src="https://cdn4.iconfinder.com/data/icons/logos-brands-7/512/google_logo-google_icongoogle-512.png"
        alt="main-logo"
        srcset=""
      />
      </div>
    </div>

 
  
    <div class="bottom-container">
      <div class="loading-container">
        <div class="container">
          <div class="progress-bar">
            <div class="outer">
              <div
            class="inner"
            [style.width.%]="(loadingPercentage / time) * 100"
          ></div>
            </div>
          </div>
        </div>
  

      </div>
    </div>
  </div>

  
  