@import "../../../assets/styles/helpers/mixins";

.splash-component {
  height: 100%;
  width: 100%;
  background: #fff;


  .top-container{
    @include flex-container(center,center,row);
    height: 85%;
    width: 100%;
    @include flex-container(center, center, column);
    position: relative;
    


    .logo{
      width: 65vw;
      @include flex-container(center, center,row)
    }
   
  }

  .bottom-container {
    height: 15%;
    width: 100%;
    @include flex-container(center,space-evenly,column);
    background-color:rgb(223, 57, 57);
    border-radius: 1rem 1rem 0rem 0rem;

    .loading-container {
      width: 100%;
      height: 100%;
      @include flex-container(center,space-evenly,column);
      padding-top: 2rem;
      .container {
        width: 100%;

        .text {
          @include font(8, 2.5vw, 10, tbold, #fff);
          text-align: center;
          margin-bottom: 0.4rem;
          // text-transform: uppercase;
          letter-spacing: 0.7px;
        }

        .progress-bar {
          animation: fadein 0.4s ease-in, slide-up 0.4s;
          width: 80%;
          margin: auto;

          .outer {
            height: 8px;
            width: 100%;
            border-radius: 100px;
            position: relative;
            background: #DADADA;

            .inner {
              position: absolute;
              top: 0px;
              left: 0px;
              right: 1px;
              bottom: 0px;
              background: #fff;
              border-radius: 8px;
              transition: width 0.06s ease-in;
            }
          }
        }
      }
    }
  }
}

