<div class="splash-component">

    <div class="top-container">
      <div class="logo" >
        <img #logoImage src="assets/images/splash/bournvita-2.png" alt="" srcset="">
      </div>
    </div>

 
  
    <div class="bottom-container">
     
      <div class="loading-container">
        <div class="container">
          <div class="progress-bar">
            <div class="outer">
              <div
            class="inner"
            [style.width.%]="(loadingPercentage / time) * 100"
          ></div>
            </div>
          </div>
        </div>
  

      </div>
    </div>
  </div>

  
  