<div class="footer-component">
  <div class="footer__content">
    <div class="logo-block">
      <img
        src="https://cdn4.iconfinder.com/data/icons/logos-brands-7/512/google_logo-google_icongoogle-512.png"
        alt="main-logo"
        srcset=""
      />
      <div class="copyText">&copy; 2024</div>
    </div>

    <div class="version-block">
        <span class="text">Version</span> <br> 2.2.2
    </div>

    <div class="about-block">
        <span class="text">About</span> 
        <br> Contact Us
        <br> Privacy
        <br> Term of Use
    </div>
  </div>
</div>
