
@font-face {
  font-family: "helvetica-bold";
  src: url(../../fonts/helvetica.ttc) format("opentype");
}

@font-face {
  font-family: "helvetica-medium";
  src: url(../../fonts/helvetica.ttc) format("opentype");
}

