@import "mixins";

.main-component {
    height: 100%;
    width: 100%;
  
    .header {
      height: 4rem;
      width: 100%;
      overflow: hidden;
    }
  
    .main-content {
      background-color: rgb(239, 253, 253);
      height: calc(100% - 8rem);
      width: 100%;
      overflow: auto;
    }

    .footer {
        height: 4rem;
        width: 100%;
        overflow: hidden;
      }
}